.stockPickerContainer {
  width: 100px;
  height: 100px;
  color: pink;

  .stock {
    width: 100px;
    height: 100px;

    .stockName {
      width: 20px;
    }
  }
}

.stockWindow {
  display:flex;
  flex-direction: row;
  gap: 500px;
}

.navBar {
  display: flex;
  flex-direction: row;
  gap: 20px;
  color: blue;

}

.footerContainer {
  display: flex;
  flex-direction: row;
  justify-content: end;
  font-family: monospace;

  .contactInfo {
    color: blue;
  }
}


.signIn {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 10px;
}
