.stockPickerContainer {
  width: 100px;
  height: 100px;

  .stock {
    width: 100px;
    height: 100px;

    .stockName {
      width: 20px;
    }
  }
}

.footerContainer {
  width: 100ps;
  height: 100ps;

  .contactInfo {
    color: blue;
  }
}
